
html{
width: 100%;
height: 100%;
margin:0;
}
:root {
--light-gray:#333333;
--almost-black: #25282d;
--black: #1e1e1e;

--almost-white: #f5f6f7;
--white: #ffffff;

--main: var(--black);
--background: var(--white);
--invBackground: var(--almost-black);
--accentBackground: var(--almost-white);
}
*{
color: var(--main);
}
body{
background-color: var(--background);
margin:0;
}
h1{
text-align: center;
}
h2{
text-align: center;
}
nav {
text-align: center;
height:auto;
}
nav li{
display: inline;
margin:25px;
cursor: pointer;
}
nav .focus{
text-decoration: underline;
}
#main{
position:absolute;
top:110px;
bottom:45px;
left:0;
right:60%;
overflow: auto;
}
#main img{
max-width:350px;
max-height:200px;
float:right;
margin:25px;
}
#main p{
margin:25px;
text-align: justify;
}
#main .quelle{
font-size:12px;
}
#map{
position:absolute;
top:110px;
bottom:45px;
left:40%;
right:0;
}
footer{
position: absolute;
bottom:0;
height:30px;
width: 100%;

padding-top:15px;

background-color: var(--accentBackground);
text-align: center;
}
#darkmode {
position:absolute;
left:7px;
bottom: 53px;
width:35px;
height:35px;
border: 2px solid var(--light-gray);
background-color: var(--invBackground);
border-radius: 15px;
cursor: pointer;
}
