:root {
    --light-gray:#333333;
    --almost-black: #25282d;
    --black: #1e1e1e;

    --almost-white: #f5f6f7;
    --white: #ffffff;

    --main: var(--black);
    --background: var(--white);
    --invBackground: var(--almost-black);
    --accentBackground: var(--almost-white);
  }
*{
    color: var(--main);
}
body{
    background-color: var(--background);
    margin:0;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
nav {
    text-align: center;
}
nav li{
    display: inline;
    margin:25px;
    cursor: pointer;
}
nav .focus{
    text-decoration: underline;
}
#main{
    width:40%;
    height:750px;
    float:left;
}
#main img{
    width:350px;
    float:right;
    margin:25px;
}
#main p{
    margin:25px;
    text-align: justify;
}
#main .quelle{
    font-size:12px;
}
#map{
    background-image: url(./map_topo.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    width:60%;
    height:750px;
    float:right;
    position: relative;
}
.icon{
    position:absolute;
    width:25px;
}
#map .focus{
    width:35px;
    margin:-5px;
}
footer{
    position: absolute;
    bottom:0;
    height:30px;
    width: 100%;

    padding-top:15px;

    background-color: var(--accentBackground);
    text-align: center;
}
#darkmode {
    position:absolute;
    left:15px;
    bottom: 53px;px;
    width:35px;
    height:35px;
    border: 2px solid var(--light-gray);
    background-color: var(--invBackground);
    border-radius: 15px;
    cursor: pointer;
}